PORT=3333
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://usuario:senha@localhost:5432/horacerta?schema=public"
APP_TIMEZONE=America/Sao_Paulo
DEFAULT_USER_EMAIL=usuario@horacerta.local
